*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ul{
    background-color: beige;
    display: none;
    transition: all 1s;
}

li{
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
}
.bg-color{
    background-color: aqua;
    color: white;
    
}
.bg-remove{
    background-color: transparent;
    
}
#bar{
    background-color: aquamarine;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
#bar i{
    font-size: 2rem;
    cursor: pointer;
}

#close-bar{
    display: none;
}